<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" href="../Library/image/logo.jpg" />
    <link rel="stylesheet" href="../Library/CSS/contact.css">
    <title>CuteBike - Contact</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="../Library/image/logo2.jpg" width="50" height="50" class="d-inline-block align-top" alt="">
            CuteBike
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="location.html">Location</a>
                </li>
                <li class="nav-item  active">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <!--Apparait seulement quand l'utilisateur est connecté-->
                <li class="nav-item">
                    <a class="nav-link" href="compte.html">Mes réservations</a>
                </li>
            </ul>

            <div>
                <a href="../Template/login.html"><img src="../Library/image/defaultuser.jpg" alt="image-profile"  class="rounded-circle "></a>
            </div>
        </div>
    </nav>
</header>
<div class="INFO"><p> Commentaire : L'onglet "mes réservations" apparait seulement quand l'utilisateur est connecté</p></div>
<div class="container mx-auto w-90 d-block">
    <form >
        <h1 class="form-group text-center">Formulaire</h1>
        <div class="form-group row">
            <label class="col-5">Prénom</label>

            <label for="prenom"></label>
            <input type="text" class="form-control col-6" id="prenom" placeholder="Prénom">


        </div>
        <div class="form-group row">
            <label class="col-5">Nom</label>
            <label for="nom"></label>
            <input type="text" class="form-control col-6" id="nom" placeholder="Nom">

        </div>
        <div class="form-group row">
            <label class="col-5">Date d'anniversaire</label>
            <label for="anniv"></label>
            <input type="date" class="form-control col-6" id="anniv">

        </div>

    </form>

    <hr>

    <form>

        <div class="form-group row">
            <label for="inputEmail4" class="col-5">E-mail</label>
            <input type="email" class="form-control col-6" id="inputEmail4" placeholder="Email">
        </div>

        <div class="form-group row">
            <label class="col-5">Adresse</label>
            <label for="inputAddress"></label><input type="text" class="form-control col-6" id="inputAddress" placeholder="1234 rue Victor Hugo">
        </div>
        <div class="form-group row">
            <label for="inputAddress2" class="col-5">Adresse Complémentaire</label>
            <input type="text" class="form-control col-6" id="inputAddress2"
                   placeholder="Appartement, studio, ou étages">
        </div>
        <div class="form-group row">
            <label for="inputCity" class="col-5">Ville</label>
            <input type="text" class="form-control col-6" id="inputCity">
        </div>
        <div class="form-group row">
            <label for="inputZip" class="col-5">Code Postal</label>
            <input type="text" class="form-control col-6" id="inputZip">
        </div>

        <hr>

        <div>
            <label for="Details">Détails de votre demande :</label>
            <p><textarea name="Details" id="Details"></textarea></p>
        </div>


        <!-- Button trigger modal -->
        <button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#exampleModal">
            Valider
        </button>
    </form>

</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Votre demande à bien été prise en compte.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success"><a href="../index.html"> Close</a></button>
            </div>
        </div>
    </div>
</div>

<br>

<footer>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
                aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent1">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#exampleModalScrollable">
                        Condition générales des ventes
                    </button>
                <li class="nav-item">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#exampleModalScrollable1">
                        Mentions Légales
                    </button>
                </li>
                <li class="nav-item">
                    <a href="https://www.facebook.com" target="_blank"><img src="../Library/image/logofb.jpg" alt="logo_facebook" class="rounded-circle"></a>

                </li>
            </ul>
        </div>
    </nav>















    <!-- Modal -->
    <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalScrollableTitle">Condition générales des ventes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Les présentes Conditions Générales de Vente et d’Utilisation (CGVU), ainsi que les Conditions Spécifiques s’appliquent à tout Client qu’il soit acheteur ou détenteur d’un Titre de transport ou de prestations associées commercialisées par nos agences, notre réseau de dépositaires, nos distributeurs de Titres de transport ou via la vente à distance (l’e-boutique et Pass Pass Easy Card), sans restriction ni réserve à toutes utilisations et Commandes. Elles forment avec le Règlement Public d’Usage le contrat de transport régissant les obligations entre le Client et Transpole SA applicables à l’ensemble du réseau ilévia et matérialisé par le Titre de transport.
                        La présente version des CGVU est applicable à compter du 1ER février 2019.
                        Le Client doit prendre connaissance des présentes CGVU, disponibles en agences et accessibles par lien hypertexte sur chaque page du Site. Il est conseillé au Client de les télécharger et/ou de les imprimer et d’en conserver une copie. Transpole SA exploitant du réseau ilévia, se réserve le droit de modifier ou faire évoluer les informations et/ou conditions d’utilisation qui lui sont applicables. Ces modifications s’appliqueront dans un délai de 15 jours à compter de leur publication sur le site Internet. A cet effet, il est conseillé au Client de lire les présentes CGVU à chaque visite du Site.
                        Le Site ilévia.fr et ses applications attachées ont pour principales finalités l’information et la vente en ligne de Titres de transport du réseau ilévia. Dans le cas d’un achat via e-boutique, la présentation ultérieure de la carte personnalisée du Client devant un valideur à bord d’un bus, sur le quai du tram ou dans une station de métro permettra de charger le contrat acheté. Le Site propose aussi de nombreux autres services, via un espace personnalisé, accessible au moyen d’un identifiant et d’un mot de passe.
                        Le réseau ilévia est géré par la Société Transpole SA au capital de 5.000.000 €
                        Adresse :   Centre d’Affaires Château Rouge 276 Av de la Marne, BP 51009 -59701 Marcq-en-Barœul Cedex.
                        N° SIREN : RCS Lille Métropole
                         
                        Article 1. Définitions et périmètre d’application
                        Est entendu par les termes :
                        -         « Client » toute personne titulaire d’un Titre de transport utilisant le réseau de transport ilévia et/ou achetant un titre de transport via le Site
                        -         « Vendeur » désigne Transpole SA, exploitant du réseau ilévia
                        -         « Carte personnelle », support billettique Pass Pass nominatif sur lequel sont chargés les Titres de transport, les profils et abonnements donnant accès au réseau ilévia.
                        -         « Carte non personnalisée », support billettique anonyme sur lequel sont chargés les Titres de transport occasionnels
                        -         « carte déclarative », support billettique Pass Pass nominatif sur lequel sont chargés les Titres de transport, les profils et abonnements donnant accès au réseau ilévia. Conformément aux recommandations de la CNIL les informations sur le détenteur de la carte sont effacées.  Ce type de support ne permet ni SAV, ni paiement par prélèvement automatique.
                        -         « Ticket rechargeable », billet cartonné sur lequel peut être chargé un seul type de titre occasionnel.
                        -         « Titre de transport », représente le contrat entre le Client et le Vendeur et permettant au Client de circuler sur le réseau ilévia.
                        -         « Valideur », appareil équipant les bus, stations de métro et tramway, du réseau ilévia devant lequel le Client présente un support (carte ou ticket rechargeable) hébergeant un Titre de transport afin de le valider pour voyager en règle.
                        -         « Rechargement à distance », achat d’un Titre de transport effectué à distance et chargé le lendemain ou le surlendemain en présentant la Carte personnelle devant un valideur, un distributeur ou une borne de rechargement.
                        -         « Commande » achat de Titre de transport effectué et payé par le Client via le Site
                        -         « Conditions spécifiques », conditions contractuelles propres à un produit ou un Titre de transport vendu via l’un des réseaux de distribution.
                        -         « Profil », obtention à partir de justificatifs d’âge, de domicile et/ou sociaux d’une autorisation de réduction tarifaire pour une durée limitée dans le temps.
                        -         « Site », le site internet www.ilevia.fr qui héberge l’e-boutique destinée à l’achat et au rechargement des Titres de transport ou l’application Pass Pass easy Card destinée au rechargement des Cartes personnelles à partir d’un smartphone.
                        S’agissant de la Vente de Titres de transport pour les associations, administrations et entreprises, des Conditions Spécifiques de vente s’appliquent.
                         
                        Article 2 – Conditions d’utilisation
                        Pour voyager sur le réseau ilévia, le Client doit obligatoirement être en possession d’un titre de transport ilévia en cours de validité et validé.
                        Les Titres de transport ilévia sont valables sur l’ensemble du réseau ilévia et dans les limites du territoire de la Métropole Européenne de Lille. Les Cartes personnelles et déclaratives ne peuvent en aucun cas être utilisées pour des abonnements par plusieurs personnes.
                        Le Client doit obligatoirement valider son Titre de transport sur un des Valideurs présents à l’intérieur du véhicule ou sur le quai dès sa montée, à chaque voyage, y compris en correspondance. Dans le cas contraire, le Client se trouve en situation irrégulière et sera redevable d’une indemnité forfaitaire suivant le montant du tarif en vigueur au moment du contrôle.
                        Les supports pour être valables ne doivent présenter aucune altération :
                        les Tickets rechargeables ne doivent être ni pliés, ni déchirés
                        les Cartes doivent être en bon état
                        les Cartes personnelles doivent être lisibles et présenter une photo rendant son utilisateur identifiable.
                         
                        Durée de validité des Titres de transport au forfait :
                        -         La durée de validité des Pass 1 jour, 2 jours, … démarre à compter de leur première validation.
                        -         Abonnement mensuel, le Client choisit lors de l’achat la date de début de validité qui lui convient.
                        -         Abonnement 10 mois, le Titre de transport est valable du 1er septembre au 30 juin de l’année N+1
                        -         Abonnement annuel, le Titre de transport est valable 12 mois et démarre le 1er jour du mois suivant l’achat (pour les achats avant le 15 du mois).
                        -         Abonnement permanent, le Titre de transport est valable pour une durée minimale de 12 mois et jusqu’à sa résiliation à la demande du Client ou du fait de Transpole SA en raison de non-paiement ou de non-respect des conditions de délivrance (limite d’âge atteinte, résidence hors MEL……).
                        Toute utilisation non conforme des Titres de transport ilévia constitue une situation irrégulière entraînant le paiement d’une indemnité forfaitaire.
                         
                        Article 3 – Prix et Paiement des Titres de transport
                        Les tarifs des Titres de transport sont indiqués en euros toutes taxes comprises et sont révisables. Les prix des Titres de transport et autres produits sont fixés par la Métropole Européenne de Lille, seule habilitée à en définir le montant. Ils sont exprimés hors frais d’envoi et de gestion. Les points de vente Pass Pass sont libres de fixer les moyens de paiement acceptés.
                        Le règlement des Titres de transport achetés en agence commerciale ilévia se fait en euros par paiement comptant, par tous les moyens acceptés par le Vendeur (chèque bancaire, carte bancaire, mandat cash, espèces), au tarif en vigueur le jour de l’achat ou par prélèvement. Seuls les chèques bancaires émis par un établissement bancaire domicilié en France et issus d’un compte courant sont acceptés.
                        Pour tout règlement d’un Titre de transport par paiement comptant par carte bancaire, le Client garantit qu’il est pleinement habilité à se servir de la carte bancaire utilisée pour le paiement et que cette carte bancaire donne accès à des fonds suffisants pour couvrir tous les coûts résultant de l’utilisation des services.
                        Le règlement des Titres de transport commandés via le Site, et des éventuels frais d’envoi et de gestion, sont payables au comptant le jour de la validation de la Commande. Le prix facturé au Client est le prix indiqué sur la confirmation de Commande adressée par le Vendeur. Le seul moyen de paiement donnant accès à une transaction sur l’e-boutique ilévia est la carte bancaire (Carte Bleue, Visa ou Mastercard) acceptée en France. Tout autre type de carte n’est pas accepté. Lors du paiement par carte, le Client indique son numéro de carte, la date de validité de la carte et le cryptogramme figurant au dos. Le paiement via l’application Pass Pass Easy card peut s’effectuer par carte bancaire ou Pay Pal.
                        Le débit est effectué lors du paiement en ligne à la condition d’avoir obtenu préalablement l’autorisation de débit du compte du Client auprès des centres de paiement compétents. A défaut de cette autorisation, le règlement ne pourra pas être pris en compte et la Commande ne sera pas traitée.
                        Tous nos paiements s’effectuent via des serveurs sécurisés par un prestataire qualifié et agrémenté PCI-DSS. Ceci implique qu’aucune information bancaire concernant le Client ne transite via le Site ilevia.fr. Le paiement par carte bancaire offre donc toutes les garanties de sécurisation bancaire. Toutes les informations que l’utilisateur est amené à renseigner sur le serveur de la banque sont cryptées par le protocole TLS (Transfer Layer Security).
                        La phase de paiement a lieu directement sur le serveur de paiement sécurisé de la banque. Le serveur de paiement effectue la vérification de la validité de la carte bancaire du Client avant d’accorder l’autorisation de paiement et confirme automatiquement le résultat de la demande de paiement au serveur du Vendeur.
                        Les éléments de sécurisation des échanges mis en œuvre dans le cadre du service de paiement sécurisé sont les suivants :
                        -         intégrité des données échangées entre les serveurs,
                        -         authentification du Vendeur comme émetteur de la demande de paiement,
                        -         cryptage et confidentialité des données échangées entre le Client et le serveur de paiement de la banque.
                         
                        Article 4 –Dispositions particulières pour le paiement des abonnements 10 mois et annuels
                        L’abonnement 10 mois représente un engagement pour une durée allant du 1er septembre de l’année N au 30 juin de l’année N+1.
                        L’abonnement annuel représente un engagement d’une durée de 12 mois débutant toujours un 1er jour d’un mois.
                        L’abonnement permanent est un abonnement par tacite reconduction débutant toujours le 1er jour d’un mois et ne peut être souscrit pour une période inférieure à 12 mois.
                         
                        4.1. Modes de paiement
                        Les abonnements 10 mois et annuels sont des forfaits payables selon deux formules au choix :
                        -       la formule au comptant
                        -       la formule par prélèvement mensuel.
                        Les abonnements permanents sont des forfaits payables uniquement par prélèvement mensuel.
                         
                        4.2. Le prélèvement mensuel
                        Le présent article 4.2 se s’applique pas à l’e-boutique ni à l’application Pass Pass easy card.
                        Conformément aux dispositions légales relatives à l’application des normes européennes bancaires SEPA (Single Euro Payments Area), le prélèvement SEPA remplace le prélèvement national depuis le 1er février 2014.
                        Le prélèvement SEPA est un paiement à l’initiative du Vendeur sur la base d’une autorisation préalable donnée par le débiteur, matérialisée par un Mandat.
                        Ce mandat signé par le payeur, autorise le Vendeur à émettre des ordres de prélèvements SEPA auprès de sa banque. Il est caractérisé par « une Référence Unique de Mandat » (RUM) qui figure sur le document.
                        Seuls les paiements de type récurrent peuvent s’effectuer par le moyen d’un prélèvement.
                        Lors de la souscription d’un abonnement, le payeur de l’abonnement doit signer le mandat et l’assortir d’un relevé d’identité bancaire faisant figurer ses coordonnées bancaires (IBAN/BIC). Il doit conserver les références RUM et ICS (Identifiant Créancier SEPA) figurant sur le mandat.
                        Chaque prélèvement s’effectue à une date selon un échéancier communiqué au Client lors de la souscription. Le Client est invité à vérifier son échéancier et signaler à Ilévia tout écart éventuellement constaté. En cas d’erreur matérielle figurant sur l’échéancier, notamment la date de prélèvement, ilévia s’engage à renvoyer rapidement après constat du Client ou d’ilévia, un échéancier rectificatif au Client afin d’assurer la cohérence entre le prélèvement et le paiement des prestations souscrites. (Exemple : échéancier mentionnant « au titre de l’année de prélèvement 2029 » au lieu de « 2019 »).
                        Les abonnements 10 mois, annuels et permanents réservés aux 4 à 25 ans sont à payer par prélèvement mensuel, le 15 du mois.
                        Pour les souscriptions d’abonnement annuel ou permanent dont la demande parvient entre le 1er et le 20 du mois, le premier prélèvement intervient le 15 du mois M+1. Pour les demandes parvenues entre le 21 et le dernier jour du mois, le 1er prélèvement est réalisé le 15 du mois M+2.
                        Pour les demandes d’abonnement 10 mois parvenues jusqu’au 7 septembre inclus, le 1er prélèvement intervient le 15 septembre, pour les demandes parvenues du 8 septembre au 7 octobre inclus le 1er prélèvement interviendra le 15 octobre.
                         
                        Les abonnements annuels pour les 26 à 64 ans et permanents tout public sont à payer par prélèvement mensuel, le 5 du mois. Pour les souscriptions d’abonnement dont la demande parvient à ilévia entre le 21 et le dernier jour du mois, le 1er prélèvement est réalisé le 5 du mois M+2, pour les autres demandes le 1er prélèvement intervient le 5 du mois M+1.
                        Les abonnements annuels 65 ans et plus et Coquelicot permanents sont à payer par prélèvement mensuel, le 10 du mois. Pour les souscriptions d’abonnement dont la demande parvient à ilévia entre le 21 et le dernier jour du mois, le 1er prélèvement est réalisé le 10 du mois M+2, pour les autres demandes le 1er prélèvement intervient le 5 du mois M+1.
                        Le Client peut contester auprès de sa banque dans un délai de 8 semaines à compter de la date de débit de son compte un prélèvement autorisé, et dans un délai de 13 mois à compter de la date de débit de son compte un prélèvement non autorisé. En cas de contestation qui s’avérerait injustifiée, le Vendeur se réserve le droit de facturer au Client les frais de gestion.
                        Il appartient au Client de communiquer, lors de toute conclusion d’abonnement et de signature de mandat, des informations exactes et complètes et d’informer dans les meilleurs délais le Vendeur de toute modification desdites informations survenues au cours du contrat, via le Service Clients.
                        Tout nouveau mandat assorti d’un RIB doit être communiqué au plus tard le 20 d’un mois pour être pris en compte lors du prélèvement suivant. En cas de non-respect de cette obligation, le Client ne pourra se prévaloir de la non réception des informations et/ou notifications adressées par le Vendeur en cas de litige.
                        En cas de modification ou de révocation de mandat, le Client doit s’adresser au service Client du Vendeur. Toute demande de révocation du mandat doit être accompagnée de la désignation d’un autre moyen de paiement valide.
                        En cas de changement de payeur, le nouveau payeur doit remplir un mandat de prélèvement et fournir un RIB de telle sorte qu’il ne puisse y avoir de rupture dans le rythme des prélèvements. Pour ce faire il doit envoyer par correspondance ou courriel au service Client du vendeur, ses coordonnées bancaires accompagnées du formulaire d’abonnement signé.
                        En cas d’impayés ou d’interruption des prélèvements mensuels du fait du Client, celui -ci s’engage à régler directement au service comptabilité du Vendeur, le montant du ou des mois dont il est redevable, par carte bancaire ou chèque bancaire, ce montant sera majoré de frais de gestion s’élevant à 8€.
                        En cas de litige de paiement, et si le règlement n’est pas effectué dans les 15 jours suivant la relance, le Vendeur se réserve le droit de bloquer la Carte personnelle et d’inscrire le porteur de la carte sur une liste d’opposition.
                         
                        Article 5 – Vols, pertes et dysfonctionnements
                         
                        5.1 Le vol ou la perte d’une Carte non personnalisée ou d’un Ticket rechargeable.
                        Les Cartes non personnalisées et Tickets rechargeables ne peuvent faire l’objet d’une demande de remboursement en cas de vol ou perte. Conformément à la réglementation en vigueur sur le réseau ilévia, le Client ne peut voyager sans Titre de transport.
                        Le Client doit donc acquérir à ses frais un nouveau support suivant les tarifs en vigueur à la date de leur nouvelle acquisition.
                         
                        5.2 Le vol ou la perte d’une Carte personnelle.
                        En cas de perte ou de vol d’une Carte personnelle, le Client doit se rendre dans une des agences commerciales ilévia. Toute déclaration de perte ou de vol concernant la Carte personnelle entrainera le blocage de la carte, automatiquement mise en liste d’opposition de manière irréversible, pour éviter qu’un tiers n’utilise le(s) titre(s) de transport chargé(s) sur cette dernière.
                        Cette opération peut aussi s’effectuer par courrier (le Client joint à sa demande une photocopie de sa pièce d’identité et un chèque du montant de la reconstitution au tarif en vigueur)
                        Une fois la perte ou le vol signalé, le Client doit acquérir à ses frais un nouveau support nominatif sur présentation d’une pièce d’identité suivant les tarifs en vigueur à la date de la nouvelle acquisition. L’ensemble des titres de transport ilévia présents sur l’ancienne carte sera transféré sur la nouvelle Carte personnelle.
                        Il n’est pas procédé au remboursement des Titres de transport achetés pour voyager entre la date de la perte et l’établissement de la nouvelle Carte personnelle.
                        Le Client est donc tenu de se procurer un Titre de transport provisoire s’il ne fait pas établir immédiatement après la perte une nouvelle Carte personnelle.
                         
                        5.3 Dysfonctionnement
                        En cas de dysfonctionnement d’un support nominatif (le Valideur émet un bip sonore et refuse le support), le Client devra alors se rendre dans les meilleurs délais dans l’une des agences commerciales ilévia afin de bénéficier du service après-vente.
                        Aucun échange, aucun remboursement ne pourra intervenir sur des supports abimés ou illisibles.
                         
                        5.3.1 Carte non personnalisée ou Ticket rechargeable
                        Si la Carte non personnalisée ou Ticket rechargeable sont défectueux et jamais utilisés, ils seront échangés contre une carte identique en agence commerciale.
                        Si la Carte non personnalisée ou Ticket rechargeable sont défectueux mais entamés et s’ils ne présentent pas de signes de dégradation, ils seront échangés en agence contre une carte comportant la durée et/ou le nombre de voyages restants.
                         
                        5.3.2 Carte personnelle
                        Si la Carte personnelle est défectueuse, elle sera échangée contre une carte identique en agence commerciale.
                        Si la Carte personnelle a été abimée, le Client devra faire établir une nouvelle Carte personnelle au tarif en vigueur de la reconstitution.
                        Dans les deux cas, les Titres de transport présents sur l’ancienne carte seront transférés sur la nouvelle Carte personnelle.
                         
                        5.4 Supports périmés
                        Tout support arrivant à expiration doit être remplacé.
                        Le prix du nouveau support est à la charge du Client.
                         
                        Article 6- Supports émis par des réseaux partenaires (réseaux émetteurs et utilisateurs de Cartes Pass Pass)
                        Les Cartes émises par les réseaux partenaires peuvent accueillir les Titres de transport du réseau ilévia.
                        Il est indispensable pour les Clients qui souhaitent bénéficier du service après-vente, effectuer des achats sur le Site etc, de faire reconnaitre leur carte en passant en agence ilévia afin d’enregistrer celle-ci sur le système billettique propre à Transpole SA exploitant du réseau ilévia.
                        Sous réserve que la carte ait été enregistrée, en cas de perte, de vol ou de dysfonctionnement d’une carte émise par un réseau partenaire, c’est le réseau qui a délivré la carte en première instance, qui devra entamer la procédure de reconstitution, puis le Client pourra sur présentation de la nouvelle carte, demander en agence ilévia le rechargement des Titres de transport qui figuraient sur la carte égarée.
                         
                        Article 7 – Description et disponibilité du service de la vente à distance.
                        7.1 - E-boutique :
                        Le Vendeur, met à disposition des Clients sur son site internet www.ilevia.fr un système de vente et de rechargement de Titres de transport valables sur l’ensemble du réseau ilévia 24H/24 et 7/7 J sous réserve d’interruption de service volontaire ou non.
                        L’e-boutique propose les fonctionnalités suivantes :
                        -         achat et rechargement de Titres de transport sur Carte personnelle existante
                        -         mise à jour de profil sur Carte personnelle existante
                        -         eCommande de Carte personnelle avec achat de Titre de transport et profil le cas échéant
                        -         eCommande de Tickets rechargeables
                        A condition que le paiement soit accepté, les Titres de transport sont chargés à distance sur la Carte personnelle détenue par le Client qui doit auparavant avoir associé celle-ci à son compte, ou une nouvelle Carte Personnelle chargée des Titres commandés est générée, ou un Ticket rechargeable lui est envoyé.
                         
                        7.2 - Application Pass Pass easy Card :
                        Le Vendeur met à disposition des Clients sur son application Pass Pass Easy Card un système d’achat et de rechargement des Titres de transport sur Carte personnelle ou Carte anonyme existante.
                        Les titres ainsi achetés ou rechargés sont valables sur l’ensemble du réseau ilévia 24H/24 et 7/7 J, sous réserve d’une interruption de service volontaire ou non.
                        A condition que le paiement soit accepté, les Titres de transport sont chargés à distance sur la Carte personnelle ou anonyme détenue par le Client.
                        Le Client reconnaît expressément que les différences de capacité des différents réseaux et des sous réseaux de l’internet, ainsi que l’afflux de connexions par les Clients, certains jours, à certaines heures, peuvent allonger les délais de transmission et d’échanges d’informations. En conséquence, la responsabilité du vendeur s’agissant de tout délai relatif à l’échange et la transmission d’informations par voie électronique est formellement limitée à la sortie des routeurs IP installés chez lui.
                        En aucun cas, la responsabilité du Vendeur ne pourra être recherchée si son serveur permettant l’échange des services devait être indisponible pour des raisons échappant raisonnablement à son contrôle telles que, notamment, défaillance du réseau public de distribution d’électricité, grève dudit réseau, défaillance ou grève des opérateurs publics ou privés dont dépend la Banque pour assurer la connexion au réseau, guerres, émeutes, tempêtes, tremblements de terre. Le vendeur pourra également interrompre les échanges par communication électronique relatifs aux présents services à des fins de maintenance ou de procédures d’actualisation de ses propres infrastructures réseaux et/ou logiciels.
                        Dans ces conditions, le Vendeur ne saurait garantir un fonctionnement du service sans interruption durant ces périodes et décline toute responsabilité. A ce titre, le Client renonce expressément à se prévaloir d’une quelconque indemnité pour les éventuels préjudices directs ou indirects pouvant résulter d’une interruption de service.
                         
                        Article 8 – Utilisation de la vente à distance ilévia sur le Site.
                         
                        8.1 La Commande.
                        La Commande de prestations est réservée aux Clients ayant pris connaissance et accepté par validation de la case à cocher les présentes CGVU dans leur intégralité et sans réserve, ainsi que les conditions spécifiques propres à un produit ou un titre de transport, préalablement à la réalisation d’une Commande.
                        L’e-boutique permet de commander en ligne différents Titres de transport valables sur le réseau ilévia (Ticket rechargeables, Cartes personnelles, et différentes formules sur Carte personnelle dont les principaux abonnements commercialisés par ilévia). Certains Titres de transport ne sont toutefois pas commercialisés sur l’e-boutique.
                        L’application Pass Pass Easy Card permet de charger en ligne différents Titres de transport valables sur le réseau ilévia. Certains Titres de transport ne sont toutefois pas commercialisés sur Pass Pass Easy Card.
                        Le Client peut acquérir des Titres de transport pour son usage propre, ou pour l’usage d’un tiers (le « Bénéficiaire »). Les conditions générales s’imposent également au Bénéficiaire même lorsque le Bénéficiaire n’a pas personnellement procédé à l’achat du Titre de transport. Le Client s’interdit toute revente partielle ou totale des Titres de transport achetés sur le site.
                        Le Client garantit la véracité et l’exactitude des informations qu’il fournit. Avant d’acheter un Titre de transport en ligne, le Client doit s’assurer que le bénéficiaire peut bénéficier du tarif choisi. Le descriptif détaillé des Titres de transport et de leurs conditions d’utilisation est consultable sur le Site du réseau.
                        La Commande des Titres de transport sur Carte personnelle requiert que le formulaire de souscription intégrant différents champs obligatoires soit rempli. La photo et les pièces justificatives font partie des champs obligatoires pour l’établissement de la Carte Personnelle. Ils doivent correspondre au bénéficiaire du Titre de transport. Ils doivent en outre être récents et suffisamment lisibles pour permettre l’identification du titulaire.
                        Lors de sa première Commande, le Client doit, pour des questions de sécurité, créer un compte personnel spécifique au site. Afin de protéger l’accès à ses données, il doit choisir un mot de passe qui lui sera demandé chaque fois qu’il voudra commander. Il est préconisé de choisir un code intégrant à la fois plusieurs chiffres et lettres de manière à sécuriser l’accès à son compte. Le Vendeur ne pourra être tenu responsable de toute utilisation frauduleuse du compte par un tiers, sauf faute du Vendeur.
                        Les systèmes d’enregistrement automatique sont considérés comme valant preuve de la nature, du contenu et de la date de la Commande. Une fois la Commande validée par le Client, un e-mail de confirmation sera transmis à l’adresse mail communiquée par le Client, en indiquant la référence de la Commande. Ce numéro devra figurer dans les échanges entre les deux parties.
                        La vente ne sera conclue qu’à compter de la validation du paiement et de la confirmation de la Commande envoyée par le Vendeur au Client. Le Vendeur se réserve toutefois le droit d’annuler toute Commande d’un Client avec lequel existerait un litige relatif au paiement d’une Commande antérieure ou d’un Client ayant passé une Commande d’un Titre de transport soumis à des conditions d’accès auxquelles le bénéficiaire ne répond pas au vu des pièces justificatives fournies (critère d’âge et de résidence en particulier).
                        Les informations énoncées par le Client, lors de la prise de Commande, engagent celui-ci : en particulier en cas d’erreur dans le libellé des coordonnées du destinataire, le Vendeur ne saurait être tenu pour responsable de l’impossibilité dans laquelle il pourrait être de livrer le produit.
                          
                        8.2 Livraison.
                        Le présent article 8.2 ne s’applique pas à l’application Pass Pass Easy Card.
                        Les frais d’envoi par lettre simple et les frais de gestion des Commandes sont offerts.
                        La Commande sera envoyée au Client par courrier simple. Après confirmation de Commande, le délai d’envoi des Titres de transport est de 5 jours calendaires. Le Client doit tenir compte de ce délai dans le choix des Titres de transport. Les risques liés à l’envoi des Titres de transport commandés sont à la charge du Client, dès leur expédition par le Vendeur. Ainsi, en cas de retard, la responsabilité du Vendeur ne pourra être engagée et ce, pour quelque cause que ce soit, les délais de livraison mentionnés étant indicatifs. En outre, si la livraison des Titres de transport est rendue impossible du fait d’une erreur ou d’un oubli du Client dans la saisie de ses coordonnées, ou si le pli est égaré par la société de livraison et ne parvient pas à son destinataire, le Vendeur ne saurait en être tenu responsable.
                        Afin que la réclamation soit prise en compte, tout envoi incomplet ou endommagé doit être signalé au Vendeur dans un délai maximum de 3 jours ouvrés suivant la réception de la Commande. De même, toute Commande non reçue doit être signalée dans un délai de 15 jours ouvrés suivant le mail de confirmation émis par le Vendeur.
                        En cas d’incidents de réception répétés, le Vendeur se réserve le droit de suspendre l’envoi postal des Commandes de l’utilisateur. En cas de non-exécution totale ou partielle d’une Commande imputable au Vendeur, la responsabilité du Vendeur est strictement limitée au montant de la Commande non exécutée et ne peut donner lieu à aucune indemnisation complémentaire.
                         
                        Article 9 – Suspension et Résiliation des abonnements
                         9.1 Suspension
                        La suspension d’un abonnement permanent n’est possible qu’une seule fois pour une durée de 2 mois maximum sur une période de 12 mois à condition que le Vendeur soit prévenu, par écrit, au plus tard le 20 du dernier mois d’utilisation, cachet de la poste faisant foi.
                         
                        9.2 Résiliations à l’initiative du Client
                        L’abonnement annuel ou 10 mois ne peut pas faire l’objet d’une résiliation à l’initiative du Client sauf dans les cas énumérés ci-dessous sous réserve de présenter tout justificatif officiel et uniquement si le Client ne peut plus utiliser son abonnement.
                        L’abonnement permanent ne peut pas faire l’objet d’une résiliation à l’initiative du Client durant les 12 premiers mois, sauf dans les cas énumérés ci-dessous sous réserve de présenter tout justificatif officiel, l’abonnement permanent étant souscrit pour une période minimale de 12 mois.
                        Cas concernant le Client :
                        -         décès du titulaire de la Carte personnelle (sur présentation d’un certificat de décès).
                        -         arrêt longue maladie reconnu par la sécurité sociale d’une durée supérieure à 2 mois (sur présentation d’une attestation)
                        -         déménagement en dehors de la métropole de Lille (sur justificatif),
                        -         changement de lieu d’emploi ou d’établissement dans une zone non desservie par ilévia (sur justificatif de l’employeur)
                        -         Changement de Quotient Familial permettant l’adhésion à un tarif inférieur
                        -         Perte d’emploi
                        -         Arrêt des études.
                        Le justificatif doit parvenir au Vendeur au plus tard, le 15 du mois pour prendre effet au 1er du mois suivant. Toute résiliation entraînera de plein droit la suppression du contrat sur Carte personnelle à la date d’effet.
                        La résiliation de son titre de transport annuel réglé comptant donnera droit au remboursement du trop-perçu selon les modalités détaillées à l’article 10.
                        Les demandes de suspension ou résiliation doivent être adressées par écrit à :
                        TRANSPOLE S.A.
                        Service Résiliations et suspensions
                        BP 51009
                        59701 MARCQ EN BAROEUL cedex
                        ou
                        contact@ilevia.fr
                         
                        9.3 Résiliation à l’initiative du Vendeur
                        Le Vendeur peut résilier l’abonnement de plein droit avec effet immédiat, pour les motifs suivants :
                        -       Fraude dans la constitution du dossier d’abonnement, fausse déclaration, falsification des justificatifs
                        -       Utilisation frauduleuse de la Carte personnelle
                        -       Non-paiement.
                        A cet égard, conformément à l’article 4.2, en cas de désaccord ou de refus de l’échéancier rectificatif conduisant au non-paiement des prestations souscrites, Ilévia peut résilier de plein droit et avec effet immédiat l’abonnement du Client.
                         
                        La résiliation de l’abonnement est notifiée par lettre recommandée adressée au dernier domicile connu du payeur pour l’ensemble des motifs détaillés ci-dessus.
                         
                        Dans le cas particulier d’un non-paiement, la résiliation peut prendre effet après un délai de 15 jours accordé au Client faisant suite à l’envoi d’une relance par mail, SMS ou courrier simple adressé au dernier domicile connu du payeur.
                         
                        Article 10 – Remboursement
                        Les demandes de remboursement peuvent être effectuées par courrier ou par email :
                        TRANSPOLE S.A.
                        Back Office Billettique
                        276 Avenue de la Marne
                        CS 51009
                        59701 MARCQ EN BAROEUL Cedex ou
                        contact@ilevia.fr
                        Les Titres de transport occasionnels non utilisés peuvent être remboursés uniquement en cas de changement de profil du Client. Le Client notifie son motif de demande de remboursement et fournit tout justificatif à l’appui de sa demande de remboursement. Le remboursement se fait au prorata du nombre de titres restant.
                        Aucun remboursement ne peut être exigé en cas d’utilisation partielle d’un titre de transport (10 voyages, Pass 1 jour à 7 jours, etc…). Les Pass, Abonnements Hebdomadaires ou Abonnements Mensuels entamés sont dus, s’agissant de forfait, ils ne pourront faire l’objet d’aucun remboursement.
                        Les Abonnements Mensuels non utilisés ou non entamés sont éligibles au remboursement sous réserve que la demande soit effectuée dans le mois en cours de l’abonnement sur présentation d’un bulletin d’hospitalisation. Un mois utilisé partiellement ne fera l’objet d’aucun remboursement.
                        Les Abonnements 10 mois et Abonnements annuels partiellement utilisés sont remboursés au prorata des mois utilisés, tout mois entamé est dû. Les mois utilisés seront valorisés au tarif mensuel de la catégorie d’âge.
                        Aucune demande de remboursement ne peut être effectuée directement en agence commerciale.
                        Après étude de la demande de remboursement, le Vendeur notifie par courrier ou courriel, le refus ou l’acceptation du remboursement. Celui-ci est effectué par envoi postal d’un chèque bancaire (dans un délai maximum de deux mois).
                        En cas de décès du titulaire d’une carte, seul le notaire chargé de la succession est légitime pour demander le remboursement du solde des titres contenus sur la carte.
                        Aucun transfert de titres n’est autorisé d’un support vers un autre support.
                        Article 11 – Service Client
                         11.1 Délai de rétractation
                        Le Client est informé que, en application de l’article L. 121-20-4 du code de la consommation, les Titres de transport commercialisés sur le Site ne sont pas soumis à l’application du droit de rétractation prévu aux articles L. 121.20 et suivants du code de la consommation en matière de vente à distance. Toute validation du paiement par le Client est irréversible.
                         
                        11.2 Réclamations
                        Pour toute réclamation le Client peut contacter le Vendeur :
                        Par internet : ilévia.fr
                        Par téléphone : 03 20 40 40 40 (prix d’un appel local)
                        Par courrier : 
                        TRANSPOLE S.A. – Service Réclamations – 276 avenue de la Marne – BP 51009
                        59701 MARCQ EN BAROEUL cedex
                        Par mail : contact@ilevia.fr
                        Il devra le cas échéant être en capacité de produire les documents justificatifs et/ou la preuve d’achat s’il y a lieu.
                         
                        11.3. La médiation
                        La médiation est un service de recours. Il s’adresse aux Clients qui ne sont pas satisfaits de la réponse reçue après une réclamation. Pour permettre son intervention, toute réclamation doit être précédée de démarches préalables auprès du service Réclamations de Ilévia.
                        Grâce à la médiation, les Clients peuvent obtenir un second avis. Indépendant et impartial, le Médiateur Tourisme et Voyage (http://www.mtv.travel), est chargé de rapprocher les points de vue. L’avis est cependant consultatif et pourra être refusé par l’une ou l’autre des parties.
                        Le médiateur peut être saisi à l’adresse suivante : MTV Médiation Tourisme Voyage – BP 80 303 – 75823 PARIS CEDEX 17.
                        Ne pas oublier de joindre à la saisine une copie de tous les documents retraçant la démarche. Une réponse sera adressée dans un délai de 2 mois (ou de 4 mois pour les cas les plus complexes).
                        Le traitement des dossiers est confidentiel et la saisine du médiateur est gratuite.
                         
                        11.4 Les justificatifs de perturbation
                        En cas de perturbations affectant le fonctionnement du réseau (panne, retard, grève), les justificatifs doivent être demandés uniquement par téléphone ou auprès des espaces service Clients, le jour de la perturbation et pour les perturbations qui excédent 15 minutes.
                        Aucun justificatif ne pourra être délivré en dehors de ces délais.
                         
                        Article 12 Contact.
                        Le Client peut contacter le service Client :
                        Par internet : ilévia.fr
                        Par téléphone : 03 20 40 40 40 (prix d’un appel local)
                        Par mail : contact@ilevia.fr      
                         
                        Article 13. Protection des données personnelles.
                        Le Vendeur propose des Cartes déclaratives qui permettent de ne pas figurer dans le fichier Client et de préserver l’anonymat des déplacements.
                        Les données personnelles collectées par le Vendeur pour la gestion des Cartes personnelles font l’objet de traitements automatisés dont les finalités sont la gestion, la délivrance et l’utilisation des Titres de transport, la gestion et le suivi des relations commerciales, la gestion des impayés, la gestion de la fraude relative à l’utilisation des Cartes personnelles pendant toute la durée de validité du Titre de transport, la réalisation d’analyses statistiques anonymes d’utilisation des réseaux, la mesure et la qualité du fonctionnement du système billettique, ainsi que la gestion des prélèvements SEPA.
                        Si le client s’est opposé à la conservation de sa photo au format numérique, une nouvelle photo lui sera demandée à chaque demande de fabrication de sa carte personnelle.
                        Ces données sont destinées à l’Autorité Organisatrice, au Vendeur et aux sociétés qu’ils emploient pour leur fournir des prestations : analyse de données, création de support sans contact, fournisseur du système billettique, gestion et notification des prélèvements. Ces sociétés ont accès aux données personnelles des Clients dans la stricte mesure nécessaire à l’exercice de leurs prestations.
                        Dans le cadre des dispositifs interopérables, les données personnelles sont échangées entre les réseaux urbains.
                        Ces données ne sont pas conservées au-delà de la durée de trois ans à compter de la fin de la relation commerciale.
                        Le client dispose d'un droit d’accès, de rectification, d'opposition, de limitation, de portabilité et de suppression des données qui le concernent du droit de définir ses directives relatives au sort de ses données à caractère personnel après la mort, du droit de retirer son consentement à tout moment, et du droit d'introduire une réclamation auprès d'une autorité de contrôle.
                        Les droits d’accès, d'opposition, de limitation, de portabilité et de suppression s’exercent auprès du Vendeur :
                        Par mail : dpo@ilevia.fr
                        Pour toute demande d’exercice de droit, le client est prié de fournir tout élément de nature à permettre à Transpole S.A. de vérifier, avec exactitude, son identité et ce dans un souci de confidentialité et de protection de vos données personnelles. En conséquence, si les éléments transmis sont insuffisants, Transpole S.A. se réserve le droit de solliciter du demandeur la transmission d’un justificatif d’identité afin de pouvoir répondre à sa demande d’exercice de droits.
                        Les droits de rectification s’exercent auprès du vendeur :
                        Par téléphone : 03 20 40 40 40 (prix d’un appel local)
                        Par mail : contact@ilevia.fr 
                        Par courrier : TRANSPOLE S.A. – Service Clients – 276 avenue de la Marne – BP 51009
                        59701 MARCQ EN BAROEUL cedex
                         
                        Article 14. Perte de données et justificatifs d’achat.
                        Le Vendeur ne sera en aucun cas responsable des dommages indirects subis par le Client et notamment des pertes de données ou d’enregistrements, à charge pour celui-ci d’effectuer des copies de sauvegarde.
                        Les justificatifs d’achat sont disponibles et remis uniquement au moment de l’achat.
                        Aucun duplicata ne sera fourni par le vendeur.
                        Les justificatifs délivrés au moment de la vente sont les seuls à produire à l’employeur dans le cadre du paiement de la prime transport (ils font apparaitre : la date d’achat, le montant, le numéro du support et le montant de l’achat) conformément à la législation en vigueur.
                         
                        Article 15. Propriété intellectuelle
                        Tous éléments, marques ou autre propriété intellectuelle sur le Site sont la propriété du Vendeur et/ ou de la Métropole Européenne de Lille et sont sujets au droit d’auteur.
                        La reproduction des pages de ce site est strictement interdite.
                        L’insertion de liens hypertextes vers une quelconque page du Site est interdite, sauf autorisation préalable et écrite du Vendeur.
                         
                        Article 16. Application et modifications
                        Le Vendeur se réserve le droit de modifier à tout moment les présentes CGVU qui s’appliqueront dans un délai de 15 jours à compter de leur publication sur le site internet www.ilevia.fr
                        Ces conditions d’utilisation et de vente (CGVU) sont régies, interprétées et appliquées conformément au droit français. 
                         
                        CGVU à jour au 28 juillet 2019.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="exampleModalScrollable1" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalScrollableTitle1">Mentions Légales</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Mentions légales
                        Dernière mise à jour : 26/11/2019
                        CuteBike Location velo
                        Editeur du site
                        Directeur de publication : Ophélie BOLLE
                        Siège social

                        CuteBike SAS
                        2 rue du commerce
                        59000 Lille France
                        Tél. : 05 26 25 24 19
                        S.A.S au capital de 100 000 €
                        SIRET : 52433526200084
                        RCS : 808 328 256
                        No de TVA intracommunautaire FR 123456789

                        http://CuteBike.fr
                        contact@CuteBike.com
                         
                        Hébergeur
                        O2SWITCH
                        222 Boulevard Gustave Flaubert
                        63000 Clermont-Ferrand
                        Téléphone : 04 44 44 60 40
                        Capital social : 100 000€
                         
                        Collecte et utilisation des données personnelles
                        Numéro de déclaration CNIL : 1952079
                        Vous disposez d’un droit d’accès, de modification, de rectification et de suppression de vos données personnelles qui vous concernent comme le prévoit la loi 34 de la loi Informatique et libertés n°78-17 du 6 janvier 1978. Vous pouvez exercer ce droit en nous contactant : contact@ouibike.net Les informations pouvant être recueillies sont celles que vous communiquez en remplissant les différents formulaires. Ouibike utilise ces données dans le but de traiter vos commandes. Vos informations personnelles ne sont pas communiquées à d’autres entreprises ou tiers sauf les autorités habilitées à en faire la demande et le ou les partenaire(s) concerné(s) par votre commande.
                         
                        Cookies
                        Un cookie est un fichier texte susceptible d’être enregistré, sous réserve de vos choix, dans un espace dédié du disque dur de votre terminal (ordinateur, tablette …) à l’occasion de la consultation d’un service en ligne grâce à votre logiciel de navigation. Il est transmis par le serveur d’un site internet à votre navigateur. A chaque cookie est attribué un identifiant anonyme. Le fichier cookie permet à son émetteur d’identifier le terminal dans lequel il est enregistré pendant la durée de validité ou d’enregistrement du cookie concerné. Un cookie ne permet pas de remonter à une personne physique mais seulement d’améliorer son expérience utilisateur.  
                         
                        Contact
                        En cas de demande de retrait de contenu ou tout autre question, contactez-nous par mail à contact@ouibike.net ou à l’adresse suivante :

                        CuteBike
                        2rue du commerce
                        59000 Lille
                        France
                        Pour les entreprises,
                        CuteBike
                        31 rue Galande
                        59000 Lille
                        France
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"  crossorigin="anonymous"></script>

</body>
</html>