#navbarSupportedContent .rounded-circle{
    width: 35%!important;
    float: right;
}

@media all and (max-width: 991px) {
    #navbarSupportedContent .rounded-circle {
        width: 13% !important;
    }
}
a.test{text-decoration:none;}
a:link {text-decoration: none;color: white}
a:visited {text-decoration: none;color: white}
a:hover {text-decoration: none;color: white}
a:active {text-decoration: none;color: white}


.card-body{
    padding: unset;!important;
    margin-bottom: 25px;!important;
}

.card-img{
    opacity: 0.5;
}

#navbarSupportedContent1 .nav-item {
    margin: 15px 100px;
}
hr {
    width: 90%;
}


.tittle{

    font-size: xx-large;
    text-decoration: underline;!important;
    font-weight: bold;

}
.titre{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}
.INFO{
     background-color: teal;
     color: white;
     border: solid 3px black;
    text-align: center;
 }